<div class="row">
  <div ng-if="!currentRemedialInfo.length">
    <div class="alert alert-warning">
      <strong>Uwaga!</strong> Brak danych o konsultacjach prowadzącego.
    </div>
  </div>
  <div ng-if="currentRemedialInfo.length" class="col-md-4">
    <p><b>Konsultacje</b><br>
    <div ng-repeat="remedial in currentRemedialInfo">
    {{remedial.remedialClass.dayOfWeek}} {{remedial.remedialClass.repManner}} {{remedial.remedialClass.startTime}}-{{remedial.remedialClass.endTime}}<br>
    {{remedial.address.budynek}} pok. {{remedial.address.sala}}
    <br><br>
    </div>
    <b>Informacje</b><br>
    {{currentLecturer.website}}<br>
    Tel. {{currentLecturer.telephone}}</p>
  </div>
  <div class="col-md-8">
    <div id="map"  style="width:700px;height:380px;"></div>
  </div>
</div>

