.searchBackground {
  background-color : rgb(0,60,127);
}

.searchBackgroundExpanded {
  height:100%;
}

.searchboxBorderRadius {
  height: 60px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.6666;
  border-radius: 15px;
}
